@page  "/categorias"

<h3>Categorias</h3>

<div class="row mb-4">
    <div class="col-12 text-end">
        <a href="categoria/cadastrar" class="btn btn-primary"><i class="ri-add-line"></i> Cadastrar</a>
    </div>
</div>

<div class="row">
    <div class="col-12">
        <table class="table">
            <thead>
            <tr>
                <th>#Id</th>
                <th>Nome</th>
                <th>Status</th>
                <th>Criado</th>
                <th>Alterado</th>
                <th>Ações</th>
            </tr>
            </thead>
            <tbody>
                          <tr>
                        <th>1</th>
                        <td>Memória Ram</td>
                        <td>Ativo</td>
                        <td>17/04/2024</td>
                        <td></td>
                        <td>
                            <a class="btn"><i class="ri-edit-line"></i></a>
                            <a class="btn text-danger"><i class="ri-delete-bin-line"></i></a>
                        </td>
                    </tr>
                

            </tbody>
        </table>
    </div>
</div>

@code {
    

}
